#greeting {
  padding: 20px;
  margin: 20px;
  background-color: #f5e069;
  border: 3px solid white;
  color: #c98d00;
  font-size: 40px;
}

#about {padding: 20px;
  margin: 90px;
  background-color: white;
  border: 3px solid rgb(255, 197, 7);
  color: #c98d00;
  font-size: 20px;

}

#signInButton {  
    background-color:#008CBA ;
    color: white;
 border: none;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
   
 
}
#signInButton:hover{
  background-color:orange;
}